{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-title-section">
    <div class="container">
        <div class="pull-left page-title">
            <a href="#">
                <h2>Contact us</h2>
            </a>
        </div>
        <div class="pull-right breadcrumb">
            <a href="#">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="#">Contact us</a>
        </div>
    </div>
</div>
<div style="margin:20 0 ; height: 20px; padding: 5px;"> </div>

<div class="container" style="">
    <div class="row">
        <div class="col-md-7 col-sm-offset-2 ">
            <div class="topform2">
                <p><i class="fa fa-user" aria-hidden="true"></i>&nbsp; LOGIN</p>
            </div>

            <div class="form2">

                <form action="{% url 'register' %}" method="post">
                    {% include 'partials\_message.html' %} {% csrf_token %}
                    
                    <label for="fname">fullname</label>
                    <input type="text" id="fname" name="fullname" placeholder="Your name..">

                    <label for="fname">username</label>
                    <input type="text" id="fname" name="username" placeholder="Your name..">

                    <label for="lname">Email address</label>
                    <input type="email" id="lname" name="email" placeholder="Your last name..">

                    
                    <label for="lname">Password</label>
                    <input type="password" id="lname" name="password" placeholder="">

                    
                    <label for="lname">Password</label>
                    <input type="password" id="lname" name="password2" placeholder="">
                    <input type="submit" value="LOGIN" class='yellow-btn'>
                </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}